.hidden {
display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* -----------------------------------------COMMON------------------------------------- */
.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px; 
}

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding: 0 15px;
    }
}
/* ------------------------------------------HEADER------------------------------------ */
.page-hader {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu,
.contacts {
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .accent {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
.burger-btn {
    display: none;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}

.contacts {
    font-style: normal;
    display: block;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link.current {
    position: relative;
}

.header-menu-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.address-list-link {
    display: block;
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus,
.address-list-link:hover,
.address-list-link:focus,
.header-menu-link.current {
    color: #404bbf
}
}

@media screen and (min-width: 1158px) {
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.address-list-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}
/* --------------------------MOBILE MENU--------------------------------- */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #8e8f99;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: #404bbf;
    border: none;
}

.mobile-menu-close:hover .mobile-close-icon,
.mobile-menu-close:focus .mobile-close-icon {
    fill: #F4F4FD;
}

.mobile-menu-nav {
    margin-bottom: auto;
}
.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-contacts {
    margin-top: 168px;
}
.mobile-address-list {
    display:flex;
    flex-direction: column;
    gap: 24px;
}
.address-list-link {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-soc-list {
    display: flex;
    gap: 40px;
    margin-top: 48px;
}

.mobile-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-soc-link:hover,
.mobile-soc-link:focus {
    background-color:#404bbf;
}

.mobile-link-icon {
    fill: #F4F4FD;
}
.mobile-menu-link:hover,
.mobile-menu-link:hover,
.address-list-link:hover,
.address-list-link:focus {
   color: #404bbf;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
/* --------------------------------HERO------------------------------------- */
.hero {
    background-color: #2E2F42;
    background-size: cover;
    background-position: center;
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people_office.jpg");
    max-width: 320px;
    margin: 0 auto;
    background-repeat: no-repeat;
    padding: 72px 0;
}

.hero-title {
    padding-bottom: 72px;
    margin: 0 auto;
    max-width: 216px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.hero-btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
.hero {
    max-width: 768px;
    padding: 112px 0;
    }
.hero-title {
    padding-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
}
}
@media screen and (min-width: 768px) {
.hero {
    max-width: 1440px;
    padding: 188px 0;
}

.hero-title {
    padding-bottom: 48px;
}
}
/* -------------------------------FEATURES--------------------------------- */

.features-icons-box {
    display: none;
}

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-item {
    width: 100%;
}

.features-subtitle {
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
.features-list {
    gap: 72px 24px;
    }
.features-item {
    width: calc((100% - 24px) / 2);
    }
.features-subtitle {
    text-align: left;
}
}

@media screen and (min-width: 1158px) {
.features {
    padding-top: 120px;
    padding-bottom: 120px;
    }
.features-list {
    gap: 24px;
    }

.features-item {
    width: calc((100% - 72px) / 4);
    }
.features-icons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background-color: #F4F4FD;
    }
.features-subtitle {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.features-text {
    font-weight: 400;
}
}
/* -------------------------------TEAM-------------------------------------- */
.team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    max-width: 164px;
    margin: 0 auto 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.team-container {
    max-width: 264px;
    padding: 0;
}
.team-item {
    background-color: #ffffff;
    width: 100%;
    border-radius: 0 0 4px 4px;
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-subtitle-conteiner {
    padding: 32px 16px;
}

.team-subtitle {
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-soc-list {
    display: flex;
    gap: 24px;
    padding-top: 8px;
}

.team-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404bbf;
}

.team-link-icon {
    fill: #F4F4FD;
}
@media screen and (min-width: 768px) {
    .team-container {
        max-width: 552px;
        padding: 0;
    }

    .team-list {
        gap: 64px 24px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .team {
        padding: 120px 0;
    }

    .team-list {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .team-item {
        width: calc((100% - 72px) / 3);
    }
}
/* -------------------------------------PORTFOLIO----------------------------------------- */
.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}
.portfolio-title {
    max-width: 220px;
    margin: 0 auto 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-subtitle-conteiner {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-subtitle {
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-item:hover .portfolio-img-text {
    transform: translateY(0);
}
.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-img-text {
    position: absolute;
    inset: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4d5ae5;
    padding: 40px 32px 164px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
.portfolio-list {
    gap: 72px 24px;
    }
.portfolio-item {
    width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
.portfolio {
    padding: 120px 0;
    }

.portfolio-list {
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-item {
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
}
/* ------------------------------------FOOTER-------------------------------------------- */
.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #2E2F42;
}

.footer-container {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.footer-logo {
    display: block;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #F4F4FD;
}

.footer-logo .accent {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
}

.footer-text {
    max-width: 288px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer-block-title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icon {
    fill: #F4F4FD;
}